<form #formationForm="ngForm" (ngSubmit)="add(formationForm)">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="put a title" [(ngModel)]="formation.title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" name="description" id="description" placeholder="put a description" [(ngModel)]="formation.description">
  </div>

  <button class="btn btn-primary" type="submit">add</button>
  <button class="btn btn-primary" type="reset">reset</button>


</form>


<pre>{{formation | json}}</pre>


<form novalidate [formGroup]="formationFormReact" (ngSubmit)="save()">
  <div class="form-group" [ngClass]="{'has-error':!formationFormReact.controls['title'].valid && formationFormReact.controls['title'].touched}">
  <label for="title">title</label>
  <input type="text" class="form-control" formControlName="title">
  </div>
  <br>

  <label for="description">description</label>
  <input type="text" class="form-control" formControlName="description">
  <br>

  <button class="btn btn-primary" type="submit" [disabled]="!formationFormReact.valid">Add</button>
  <button class="btn btn-primary" type="reset">reset</button>
</form>